<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<form class="form1" id="stateform" method="POST">
     <label for="inputname" class="sstate">State</label>
     <input type="text" id="inputname" class="form-state"  placeholder="State" required>
    <button id="subit" class="submit" type="submit" value="Submit">Submit</button>
</form>

<div id="container" style="width:100%; height:400px;"></div>

<script>
var ar=[]
var positive=[]
var negative=[]
var neutral=[]
$(document).on('submit',"#stateform",function(e) {
    e.preventDefault();
    var statename = $('#inputname').val();
    $.ajax({
        url : "/ana/state/",
        type : "POST",
        data : {
            place : statename
        },
        success : function(data) {
           //alert(data.place);
           //alert(data.res.length);
           for (i=0; i<data.res.length; i++){
                ar.push(data.res[i].disease_name);
                positive.push(data.res[i].length_pos)
                negative.push(data.res[i].length_neg)
                neutral.push(data.res[i].length_neu)
                //alert(data.res[i].disease_name);
                //alert(data.res[i].length_pos);
                //alert(data.res[i].length_neg);
                //alert(data.res[i].length_neu);
            }
           //alert(ar)
           //alert(positive)
           //alert(negative)
           //alert(neutral)
           var myChart = Highcharts.chart('container', {
               chart: {
                  type: 'bar'
               },
               title: {
                  text: data.place
               },
               xAxis: {
                  categories: ar
               },
               yAxis: {
                   title: {
                       text: 'Disease Spread'
                   }
               },
               series: [{
                   name: 'positive',
                   data: positive
               }, {
                   name: 'negative',
                   data: negative
               }, {
                   name: 'neutral',
                   data: neutral
               }]
           });
        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
});

</script>
